<div class="footer">

  <div class="footer-links">
    <div class="footer-foot">
      <h6><%= link_to "ACCUEIL", root_path%></h6>
      <h6><%= link_to "PORTFOLIO", portfolio_path%></h6>
      <h6><%= link_to "ME CONTACTER", new_contact_path%></h6>
    </div>

    <div class="footer-foot legal">
      <p><%= link_to "A propos", about_path%></p>
      <p><%= link_to "Cookies", legal_path%></p>
      <p><%= link_to "Mentions légales", legal_path%></p>
    </div>
  </div>

  <div class="social-links ">
    <a href="#" alt="facebook-icon" class="facebook-icon" target="_blank" ><img src="https://res.cloudinary.com/polettiste/image/upload/v1641464104/facebook_1_qu7gke.png"></a>
    <a href="https://github.com/POLETTISTE" alt="github-icon" class="github-icon" target="_blank" ><img src="https://res.cloudinary.com/polettiste/image/upload/v1641391766/github_txgiab.png" alt="github-icon"></a>
    <a href="https://www.instagram.com/stephanepoletti/" alt="instagram-icon" class="instagram-icon" target="_blank"><img src="https://res.cloudinary.com/polettiste/image/upload/v1641391041/instagram_frhxhb.png" alt="instagram-icon"></a>
    <a href="https://www.linkedin.com/in/poletti-stephane" alt="linkedin-icon" class="linkedin-icon" target="_blank"><img src="https://res.cloudinary.com/polettiste/image/upload/v1641391040/linkedin_tdjumq.png" alt="linkedin-icon"></a>
  </div>

</div>
