<div class="background">
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
</div>
<div id="newform">
    <div class="form">

      <h1>FORMULAIRE DE CONTACT</h1>
      <%= form_for @contact do |f| %>
      <p><%= f.text_field  :name, required: true, placeholder: "Nom", class: "contact-form-text-field" %></p>
      <p><%= f.text_field  :firstname, required: true, placeholder: "Prénom",  class: "contact-form-text-field"%></p>
      <p><%= f.text_field  :company,  placeholder: "Nom de l'entreprise (facultatif)", class: "contact-form-text-field" %></p>
      <p><%= f.email_field :email, required: true,  placeholder: "E-mail", class: "contact-form-email-field"%></p>
      <p><%= f.text_field :telephone, required: true,  placeholder: "Téléphone", class: "contact-form-number-field"%></p>
      <p><%= f.text_area :message, rows: 8, required: true,  placeholder: "Décrivez votre demande / votre projet (30 caractères minimum)", :minlength => 30, class: "contact-form-text-area"%></p>

      <div class= "d-none">
        <p><%= f.label :nickname %></p>
        <p><%= f.text_field :nickname, :hint => 'Leave this field blank!' %></p>
      </div>

        <p><%= f.submit 'ENVOYER', class: 'btn btn-send' %></p>
      <% end %>
    </div>

</div>



